//404


.aussie-casino-404 {
  &__blog-menu {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #fff;
    position: absolute;
    height: 113px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    @media only screen and (max-width: @desktop-xxs) {
      display: none;
    }
  }
}
