.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.post-ratings {
  img {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.addtoany_shortcode {
  a {
    > span {
      border-radius: 30px !important;
      box-shadow: 0 3px 6px 0 #00000030;
      display: flex !important;
      align-items: center;

      > svg {
        width: 23px !important;
      }
    }
  }
  .a2a_kit a {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}