//LATEST-ARTICLES

.aussie-casino {
  &__latest-articles {
    margin-top: 120px;
    padding-bottom: 150px;
    margin-bottom: 120px;
    width: 100%;
    position: relative;
    &:after {
      content: '';
      background-color: #FFBE1D;
      position: absolute;
      width: 30%;
      height: 100%;
      top: 0;
      z-index: -1;
    }
    h2 {
      font-family: @montserrat-b;
      font-size: 73px;
      color: @c2;
      z-index: 2;
      padding-top: 60px;
      margin-bottom: 80px;
    }
    &_container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    &_wrap {
      margin-left: 13%;
    }
    &_slide {
      position: relative;
      border-radius: 5px;
      box-shadow: 0 3px 24px 0 #00000030;
    }
    &_title {
      position: absolute;
      bottom: -147px;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: baseline;
      height: 84px;
      text-align: left;
      a {
        font-family: @montserrat-sb;
        font-size: 36px;
        line-height: 44px;
        color: @c2;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: .5s;
        &:hover {
          text-decoration-color: @c2;
        }
      }
    }
    &_pagination {
      height: 150px;
      background: @c1;
      width: 38% !important;
      position: absolute !important;
      right: 0 !important;
      left: inherit !important;
      top: 551px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-family: @montserrat-b;
      font-size: 73px;
      color: @c4;
      .swiper-pagination-current {
        margin-right: 8px;
        display: flex;
        align-items: flex-end;
        height: 85px;
      }
      .swiper-pagination-total {
        margin-left: 8px;
        font-size: 30px;
        color: #B9B9B9;
        font-family: @montserrat-r;
      }
    }
    &_date {
      position: absolute;
      top: -119px;
      right: -256px;
      transform: rotate(-90deg);
      font-family: @montserrat-r;
      font-size: 12px;
      text-transform: uppercase;
    }
    &_fraction-of {
      font-size: 30px;
      color: #b9b9b9;
      font-family: @montserrat-r;
    }
    &_pag-wrap {
      display: flex;
      align-items: center;
      top: 18px;
      left: 150px;
      position: absolute;
    }

    .swiper-container {
      width: 100%;
      height: 500px;
      padding-bottom: 200px !important;
    }
    .swiper-wrapper {
      width: 55% !important;
    }
    .swiper-slide {
      height: 500px;
      text-align: center;
      font-size: 18px;
      background: #cbcbcb;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 23px !important;
      padding-top: 23px !important;
      padding-right: 23px !important;
    }
    .swiper-slide:nth-child(2n) {
      width: 100%;
    }
    .swiper-slide:nth-child(3n) {
      width: 100%;
    }

    .swiper-button-next, .swiper-button-prev {
      top: 620px !important;
      z-index: 99 !important;
      margin-top: -27px !important;
    }
    .swiper-button-next {
      right: 284px !important;
      background: transparent url(../img/arrow-right.svg) center no-repeat !important;
      background-position-y: -10px !important;
      background-position-x: -23px !important;
    }
    .swiper-button-prev {
      left: inherit !important;
      right: 514px !important;
      background: transparent url(../img/arrow-left.svg) center no-repeat !important;
      background-position-y: -10px !important;
      background-position-x: -34px !important;
    }

  }
}