//LATEST-ARTICLES

.aussie-casino {
  &__latest-articles {
    padding-top: 120px;
    padding-bottom: 25px;
    margin-bottom: 181px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: @c1;
    &:after {
      content: '';
      background-color: #FFBE1D;
      position: absolute;
      width: 30%;
      height: 90%;
      top: 120px;
      z-index: -1;
    }
    h2 {
      font-family: @montserrat-b;
      font-size: 73px;
      color: @c2;
      z-index: 2;
      padding-top: 60px;
      margin-bottom: 80px;
    }
    &_container {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      @media only screen and (max-width: @desktop-xxs) {
        display: flex;
        justify-content: flex-start;
        width: auto;
      }
    }
    &_wrap {
      margin-left: 4%;
    }
    &_slide {
      position: relative;
      border-radius: 5px;
      box-shadow: 0 3px 24px 0 #00000030;
    }
    &_title {
      position: absolute;
      bottom: -195px;
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      text-align: left;
      a {
        font-family: @montserrat-sb;
        font-size: 36px;
        line-height: 44px;
        color: @c2;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: .5s;
        &:hover {
          text-decoration-color: @c2;
        }
      }
    }
    &_pagination--wrap {
      position: relative;
      height: 150px;
      z-index: 2;
      background: #fff;
      width: 40%!important;
      display: flex;
      margin-left: auto;
      @media only screen and (max-width: @desktop-xxs) {
        top: -13px;
        height: 213px;
      }
    }
    &_pagination--wrap-box {
      display: flex;
      padding-left: 12%;
      position: relative;
      width: 100%;
      align-items: center;
    }
    &_pagination--wrap-content {
      width: 275px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_pagination {
      font-family: @montserrat-b;
      font-size: 73px;
      color: #ffbe1d;
      width: auto;
      position: relative;
      @media only screen and (max-width: @desktop-m) {
        font-size: 45px;
      }
      .swiper-pagination-current {
        margin-right: 8px;
        display: flex;
        align-items: flex-end;
        height: auto;
      }
      .swiper-pagination-total {
        margin-left: 8px;
        font-size: 30px;
        color: #B9B9B9;
        font-family: @montserrat-r;
        @media only screen and (max-width: @desktop-m) {
          font-size: 25px;
        }
      }
    }
    &_date {
      position: absolute;
      bottom: 34px;
      right: -75px;
      transform: rotate(-90deg);
      font-family: @montserrat-r;
      font-size: 12px;
      text-transform: uppercase;
    }
    &_fraction-of {
      font-size: 30px;
      color: #b9b9b9;
      font-family: @montserrat-r;
    }
    &_pag-wrap {
      display: flex;
    }

    .swiper-container {
      width: 100%;
      height: 560px;
      padding-bottom: 160px !important;
      @media only screen and (max-width: @desktop-m) {
        height: 400px;
      }
    }
    .swiper-wrapper {
      width: 55% !important;
    }
    .swiper-slide {
      position: relative;
      height: 500px;
      text-align: center;
      font-size: 18px;
      background: #cbcbcb;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 23px !important;
      padding-top: 23px !important;
      padding-right: 23px !important;
      @media only screen and (max-width: @desktop-m) {
        height: 330px;
      }
    }
    .swiper-slide:nth-child(2n) {
      width: 100%;
    }
    .swiper-slide:nth-child(3n) {
      width: 100%;
    }

    .swiper-button-next, .swiper-button-prev {
      position: static;
    }
    .swiper-button-next {
      margin-left: 30px;
      background: transparent url(../img/arrow-right.svg) center no-repeat !important;
      background-position-y: -10px !important;
      background-position-x: -23px !important;
      @media only screen and (max-width: @desktop-m) {
        margin-left: 5px;
      }
    }
    .swiper-button-prev {
      margin-right: 30px;
      background: transparent url(../img/arrow-left.svg) center no-repeat !important;
      background-position-y: -10px !important;
      background-position-x: -34px !important;
      @media only screen and (max-width: @desktop-m) {
        margin-right: 5px;
      }
    }

  }
}