//NEWS

.aussie-casino {
  &__news {
    height: 100%;
    /*padding-bottom: 200px;*/
  }

  &__news_top--wrap {
    h2 {
      font-family: @montserrat-b;
      font-size: 73px;
      color: #000;
      z-index: 2;
      @media only screen and (max-width: @tablet-l) {
        font-size: 44px;
      }
      @media only screen and (max-width: @mobile-xl) {
        font-size: 36px;
      }
    }
  }

  &__news_wrap {
    max-width: 91%;
    margin-left: 0;
    margin-right: auto;
    z-index: 1;
    position: relative;
    @media only screen and (max-width: @tablet-l) {
      margin-right: auto;
      margin-left: auto;
    }
    @media only screen and (max-width: @mobile-xl) {
      width: 267px;
    }
  }

  &__news_top--wrap {
    max-width: 92%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
    padding-top: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
    @media only screen and (max-width: @mobile-xl) {
      padding-top: 0;
    }
  }

  &__news_post--wrap {
    max-width: 92%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
  }

  &__news_count {
    font-family: @montserrat-b;
    font-size: 73px;
    color: rgba(0, 0, 0, 0.1);
    letter-spacing: 0;
    @media only screen and (max-width: @tablet-l) {
      font-size: 44px;
    }
    @media only screen and (max-width: @mobile-xl) {
      font-size: 16px;
    }
  }

  &__news_post--item {
    width: 270px;
    height: 300px;
    @media only screen and (max-width: @desktop-s) {
      margin-right: 10px;
    }

    &:last-child {
      @media only screen and (max-width: @desktop-s) {
        margin-right: 0;
      }
    }

    @media only screen and (max-width: @desktop-xxs) {
      width: 190px;
      height: 215px;
    }
    @media only screen and (max-width: @tablet-l) {
      height: 390px;
      min-width: 300px;
      margin-bottom: 165px;
    }
    @media only screen and (max-width: @mobile-xl) {
      min-width: 245px;
      height: 293px;
    }

    img {
      width: 270px;
      height: 300px;
      object-fit: cover;
      border-radius: 4px;
      border: 1px solid @c1;
      box-shadow: 0 3px 24px 0 #00000029;
      @media only screen and (max-width: @desktop-xxs) {
        width: 190px;
        height: 215px;
      }
      @media only screen and (max-width: @tablet-l) {
        height: 390px;
        min-width: 300px;
      }
      @media only screen and (max-width: @mobile-xl) {
        min-width: 245px;
        height: 293px;
      }
    }

    a {
      font-family: @montserrat-sb;
      font-size: 24px;
      color: @c2;
      letter-spacing: 0;
      margin-top: 15px;
      display: inline-block;
      text-align: left;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: .5s;
      @media only screen and (max-width: @mobile-xl) {
        font-size: 16px;
      }

      &:hover {
        text-decoration-color: #000;
      }
    }
  }

  &__news_post--item-wrap:first-child {
    .aussie-casino__news_post--item {
      &:last-child {
        @media only screen and (max-width: @tablet-l) {
          display: none;
        }
      }
    }
  }

  &__news_post--item-wrap:nth-child(2) {
      @media only screen and (max-width: @tablet-l) {
        display: none;
      }
  }


  &__news_post_date {
    font-family: @montserrat-r;
    font-size: 12px;
    color: @c2;
    margin-top: 25px;
    display: block;
    text-transform: uppercase;
    @media only screen and (max-width: @mobile-xl) {
      font-size: 10px;
    }
  }

  &__news_post--item-wrap {
    display: flex;
    margin-bottom: 237px;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: @tablet-l) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__news_btn {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      color: @c2;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 270px;
      height: 60px;
      border: 1px solid #FFAC1A;
      border-radius: 30px;
      background-color: @c1;
      text-transform: uppercase;
      font-family: @montserrat-m;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0;
      transition: .3s;
      @media only screen and (max-width: @mobile-xl) {
        font-size: 10px;
        width: 244px;
        height: 42px;
      }
      &:hover {
        color: @c1;
        background: linear-gradient(45deg, #E3752C, #F2CC3D);
      }
    }
  }
}