//SINGLE-TPL

.aussie-casino-single-tpl {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__block-left {
    width: 50%;
    height: auto;
    background-color: #fff;
    position: absolute;
    left: -999px;
    top: 0;
    box-shadow: 0 3px 6px 0 #00000030;
    padding: 20px;
  }
}


//SINGLE

.aussie-casino-single {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -104px;
  @media only screen and (max-width: @tablet-xl) {
    flex-direction: column;
  }

  .aussie-casino-breadcrumb {
    margin-bottom: 49px;
    width: 85%;
    display: flex;
    justify-content: center;
    z-index: 2;
    @media only screen and (max-width: @desktop-m) {
      width: 60%;
      justify-content: flex-end;
    }
    @media only screen and (max-width: @desktop-xs) {
      width: 72%;
    }
    @media only screen and (max-width: @tablet-xl) {
      width: 100%;
      justify-content: flex-start;
    }

    div[typeof="BreadcrumbList"] {
      @media only screen and (max-width: @desktop-l) {
        font-size: 10px;
      }
      @media only screen and (max-width: @desktop-m) {
        font-size: 8px;
      }
      @media only screen and (max-width: @mobile-xl) {
        line-height: 12px;
      }
    }

    > div {
      color: #B9B9B9;
    }

    a {
      font-size: 12px;
      font-family: @montserrat-r;
      font-weight: 700;
      color: #B9B9B9;
      text-transform: uppercase;
      transition: .3s;
      letter-spacing: 3px;
      text-decoration: underline;
      text-decoration-color: transparent;
      @media only screen and (max-width: @desktop-l) {
        font-size: 9px;
      }
      @media only screen and (max-width: @desktop-m) {
        font-size: 8px;
        letter-spacing: 2px;
      }

      &:hover {
        text-decoration-color: #B9B9B9;
      }
    }

    .current-item {
      color: @c2;
      text-transform: uppercase;
      font-size: 12px;
      font-family: @montserrat-r;
      font-weight: 700;
      letter-spacing: 0;
      @media only screen and (max-width: @desktop-l) {
        font-size: 9px;
      }
      @media only screen and (max-width: @desktop-m) {
        font-size: 8px;
      }
    }
  }

  &__container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 110px;
    @media only screen and (max-width: @tablet-xl) {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }
  }

  &__contant--wrap {

  }

  &__block-left {
    width: 60%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 #00000030;
    padding-top: 134px;
    padding-bottom: 254px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    @media only screen and (max-width: @tablet-xl) {
      width: 100%;
      padding-top: 45px;
      box-shadow: none;
      background-color: #F9FBFC;
      padding-bottom: 30px;
    }

    &:after {
      content: '';
      background-color: @c4;
      width: 290px;
      height: 270px;
      position: absolute;
      top: 69px;
      left: 0;
      @media only screen and (max-width: @desktop-m) {
        width: 30%;
        height: 216px;
      }
      @media only screen and (max-width: @tablet-xl) {
        width: 24%;
        height: 194px;
        top: 85px;
      }
      @media only screen and (max-width: @mobile-xl) {
        width: 33%;
        height: 174px;
      }
    }

    &_close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 73px;
      height: 73px;
      background-color: @c4;
      z-index: 2;
      cursor: pointer;
      @media only screen and (max-width: @desktop-l) {
        width: 66px;
        height: 66px;
      }
      @media only screen and (max-width: @tablet-xl) {
        display: none;
      }

      img {
        @media only screen and (max-width: @desktop-l) {
          width: 22px;
          height: auto;
        }
      }
    }
  }

  &__block-left_img {
    padding-right: 23px;
    margin-bottom: 100px;

    img {
      width: 100%;
      height: auto;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0 3px 24px 0 #00000030;
    }
  }

  &__block-right {
    width: 40%;
    background-color: #F9FBFC;
    padding-bottom: 254px;
    @media only screen and (max-width: @tablet-xl) {
      width: 100%;
    }
  }

  &__block-left_title {
    font-family: @montserrat-b;
    font-size: 73px;
    width: 85%;
    margin-bottom: 100px;
    letter-spacing: -2px;
    line-height: 89px;
    z-index: 2;
    @media only screen and (max-width: @desktop-l) {
      font-size: 58px;
    }
    @media (max-width: @desktop-m) {
      font-size: 41px;
    }
    @media only screen and (max-width: @desktop-xs) {
      line-height: 63px;
    }
    @media only screen and (max-width: @tablet-xl) {
      width: 100%;
      margin-bottom: 60px;
    }

  }

  &__block-left_top-desc-wrap {
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
    @media only screen and (max-width: @tablet-xl) {
      flex-direction: column;
      width: 60%;
      align-items: flex-start;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }

    time {
      text-transform: uppercase;
      margin-right: 167px;
      font-family: @montserrat-r;
      font-size: 12px;
      color: @c2;
      font-weight: 700;
      @media only screen and (max-width: @desktop-l) {
        font-size: 11px;
      }
      @media only screen and (max-width: @desktop-m) {
        margin-right: 135px;
      }
      @media only screen and (max-width: @desktop-xs) {
        margin-right: 84px;
        font-size: 9px;
      }
      @media only screen and (max-width: @tablet-xl) {
        font-size: 10px;
        font-family: @montserrat-b;
        font-weight: 700;
        display: flex;
        margin: 0;
        margin-bottom: 41px;
      }
    }

    h5 {
      white-space: pre;
      display: block;
      text-transform: uppercase;
      font-family: @montserrat-r;
      font-size: 12px;
      font-weight: 700;
      color: @c2;
      margin-right: 70px;
      @media only screen and (max-width: @desktop-l) {
        font-size: 11px;
      }
      @media only screen and (max-width: @desktop-xs) {
        margin-right: 33px;
        font-size: 9px;
      }
      @media only screen and (max-width: @tablet-xl) {
        margin-bottom: 12px;
        font-size: 10px;
      }
    }
  }

  &__block-left_top-rating {
    display: flex;
    align-items: center;
    @media only screen and (max-width: @tablet-xl) {
      width: 20px;
      flex-direction: column;
      align-items: flex-start;
    }

    .post-ratings {
      @media only screen and (max-width: @tablet-xl) {
        display: flex;
      }

      img {
        width: 20px;
        @media only screen and (max-width: @desktop-xs) {
          width: 13px;
        }
        @media only screen and (max-width: @tablet-xl) {
          width: 20px;
        }
      }
    }
  }

  &__block-left_content-wrap {
    width: 85%;
    position: relative;
    padding-bottom: 290px;
    @media only screen and (max-width: @tablet-xl) {
      padding-bottom: 370px;
    }
    @media only screen and (max-width: @mobile-xl) {
      padding-bottom: 283px;
    }

    @media only screen and (max-width: @mobile-s) {
      padding-bottom: 441px;
    }

    h2, h3, h4, ul {
      margin-bottom: 34px;
    }

    h3 {
      font-family: @montserrat-m;
      font-size: 24px;
    }

    h2 {
      font-family: @montserrat-sb;
      font-size: 36px;
    }

    ul {
      padding-left: 25px;
    }

    li {
      font-family: @montserrat-r;
      font-size: 16px;
      line-height: 30px;
    }

    p {
      font-family: @montserrat-r;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      margin-bottom: 34px;
    }

    img {
      border-radius: 4px;
      max-width: 100%;
      margin-left: 0;
      //margin-right: 0;
      object-fit: cover;
    }
  }

  &__block-left_bottom-wrap-all {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    @media only screen and (max-width: @tablet-xl) {
      width: 100%;
    }
  }

  &__block-left_bottom-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 50px;
    @media only screen and (max-width: @tablet-xl) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__block-left_bottom-wrap--rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: @tablet-xl) {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__block-left_bottom-rating {
    @media only screen and (max-width: @tablet-xl) {
      margin-bottom: 48px;
    }

    h5 {
      margin-bottom: 20px;
      font-family: @montserrat-r;
      font-size: 12px;
      text-transform: uppercase;
      @media only screen and (max-width: @tablet-xl) {
        margin-bottom: 25px;
      }
    }

    img {
      width: 37px;
      height: 33px;
      margin-right: 21.5px;
      @media only screen and (max-width: @desktop-m) {
        width: 24.5px;
        height: 22px;
        margin-right: 14px;
      }
      @media only screen and (max-width: @tablet-xl) {
        width: 24.5px;
        height: 22px;
        margin-right: 14px;
      }
      @media only screen and (max-width: @mobile-xl) {
        width: 21.5px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__block-left_social {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      margin-bottom: 20px;
      font-family: @montserrat-r;
      font-size: 12px;
      text-transform: uppercase;
      @media only screen and (max-width: @tablet-xl) {
        margin-bottom: 25px;
      }
    }
  }

  &__block-left_tag-wrap {
    @media only screen and (max-width: @tablet-xl) {
      display: flex;
      justify-content: flex-end;
    }

    ul {
      list-style-type: none;
      display: flex;
      padding-left: 0;
      flex-wrap: wrap;

      li {
        margin-bottom: 5px;
        margin-right: 5px;
        background-color: #E4E4E4;
        padding: 7px 20px;
        border-radius: 5px;
        line-height: 16px;
        transition: .3s;

        &:hover {
          background-color: @c4;
        }

        a {
          color: @c2;
          text-decoration: none;
          font-family: @montserrat-m;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  &__block-left_tag-title {
    font-family: @montserrat-r;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 27px;
  }

  &__block-right_rel-title {
    font-family: @montserrat-sb;
    font-size: 36px;
    margin-top: 126px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    text-align: left;
    width: 100%;
    @media only screen and (max-width: @desktop-l) {
      font-size: 30px;
    }
    @media only screen and (max-width: @tablet-xl) {
      margin-top: 0;
    }

    b {
      width: 60%;
    }
  }

  &__block-right_rel-posts-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__block-right_rel-post {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    time {
      pointer-events: none;
      color: @c2;
      right: -64px;
      bottom: 36px;
      position: absolute;
      transform: rotate(-90deg);
      font-family: @montserrat-r;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      @media only screen and (max-width: @desktop-l) {
        font-size: 10px;
      }
      @media only screen and (max-width: @desktop-xs) {
        right: -56px;
      }
    }
  }

  &__block-right_rel-post-link {
    margin-bottom: 50px;
    font-family: @montserrat-sb;
    font-size: 24px;
    color: @c2;
    letter-spacing: 0;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: .5s;
    @media only screen and (max-width: @desktop-l) {
      font-size: 19px;
    }

    &:hover {
      text-decoration-color: @c2;
    }
  }

  &__block-right_rel-post-img {
    position: relative;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 30px;
    width: 25.5vw;
    max-width: 417px;
    min-width: 19.5vw;
    height: 500px;
    max-height: 500px;
    box-shadow: 0 3px 24px 0 #00000030;
    border: 1px solid @c1;
    border-radius: 4px;

    @media only screen and (max-width: @desktop-xs) {
      height: 400px;
    }
    @media only screen and (max-width: @tablet-xl) {
      width: 47.5vw;
      height: 500px;
    }
    @media only screen and (max-width: @mobile-xl) {
      min-width: 190px;

      height: 293px;
    }
  }

  &__block-right {

    &_read-more--wrap {
      overflow: hidden;
    }

    &_read-more--slide {
      position: relative;
      border-radius: 5px;
      box-shadow: 0 3px 24px 0 #00000030;
    }

    &_read-more--title {
      font-family: @montserrat-sb;
      font-size: 36px;
      margin-top: 126px;
      margin-bottom: 60px;
      display: flex;
      justify-content: center;
      text-align: left;
      width: 100%;
      @media only screen and (max-width: @desktop-l) {
        font-size: 30px;
      }
      @media only screen and (max-width: @mobile-xl) {
        margin-top: 40px;
      }

      b {
        width: 60%;
      }
    }

    &_read-more--title-desc {
      position: absolute;
      font-family: @montserrat-sb;
      font-size: 24px;
      display: flex;
      justify-content: center;
      text-align: left;
      width: 100%;
      bottom: -75px;
      height: max-content;

      a {
        text-decoration: none;
        color: @c2;
        height: 100%;
        width: 100%;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: .5s;
        @media only screen and (max-width: @desktop-l) {
          font-size: 19px;
        }

        &:hover {
          text-decoration-color: #000;
        }
      }
    }

    &_read-more--date {
      position: absolute;
      bottom: -44px;
      left: 0;
      font-family: @montserrat-r;
      font-size: 12px;
      text-transform: uppercase;
      @media only screen and (max-width: @desktop-l) {
        font-size: 10px;
      }
    }

    &_read-more--pag-wrap {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding-left: 50px;
      @media only screen and (max-width: @desktop-l) {
        padding-left: 62px;
      }
      @media only screen and (max-width: @mobile-xl) {
        padding-left: 58px;
      }
    }

    &_read-more--pag-wrap-el:first-child {
      font-family: @montserrat-b;
      font-size: 73px;
      color: #FFBE1D;
      margin-right: 5px;
      @media only screen and (max-width: @desktop-l) {
        font-size: 56px;
      }
      @media only screen and (max-width: @mobile-xl) {
        font-size: 35px;
      }

      p {
        line-height: 48px;
        @media only screen and (max-width: @desktop-l) {
          line-height: 37px;
        }
        @media only screen and (max-width: @mobile-xl) {
          line-height: 20px;
        }
      }
    }

    &_read-more--pag-wrap-el:nth-child(2) {
      margin-right: 5px;
    }

    &_read-more--pag-wrap-el:nth-child(2),
    &_read-more--pag-wrap-el:nth-child(3) {
      color: #B9B9B9;
      font-family: @montserrat-r;
      font-size: 30px;
      @media only screen and (max-width: @desktop-l) {
        font-size: 25px;
      }
      @media only screen and (max-width: @mobile-xl) {
        font-size: 16px;
      }
    }

    &_read-more--pag-wrap-el:nth-child(3) {
      letter-spacing: 1px;
    }

    &_read-more--btn-next {
      left: 250px;
      background: transparent url("../img/arrow-right.svg") center no-repeat !important;
      background-position-y: -10px !important;
      background-position-x: -34px !important;
      @media only screen and (max-width: @desktop-l) {
        left: 241px;
      }
      @media only screen and (max-width: @tablet-xl) {
        left: 215px;
      }
      @media only screen and (max-width: @mobile-xl) {
        left: 158px;
      }
    }

    &_read-more--btn-prev {
      left: 24px;
      background: transparent url("../img/arrow-left.svg") center no-repeat !important;
      background-position-y: -10px !important;
      background-position-x: -34px !important;
      @media only screen and (max-width: @desktop-l) {
        left: 31px;
      }
    }

    &_read-more--btn-next,
    &_read-more--btn-prev {
      z-index: 2;
      position: absolute;
      top: inherit !important;
      bottom: 8px;
      @media only screen and (max-width: @desktop-l) {
        bottom: 0;
      }
      @media only screen and (max-width: @tablet-xl) {
        bottom: 59px;
      }
      @media only screen and (max-width: @mobile-xl) {
        bottom: 50px;
      }
    }
  }

  .swiper-pagination-read-more {
    margin-top: 30px;
  }

  .swiper-wrapper {
    padding-bottom: 170px;
  }

  .swiper-container {
    margin-left: 17%;
    width: 100%;
    height: 100%;
    padding-left: 22px;
    padding-top: 22px;
    @media only screen and (max-width: @tablet-xl) {
      padding-left: 0;
      width: 30%;
      min-width: 200px;
      //margin-left: auto;
      margin-right: auto;
      padding-bottom: 60px;
    }
  }

  .swiper-slide {
    width: 20vw;
    min-width: 200px;
    max-width: 287px;
    height: 44vh;
    min-height: 240px;
    max-height: 293px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: @desktop-xs) {
      height: 280px;
    }
    @media only screen and (max-width: @tablet-xl) {
      margin-left: 20px;
    }
    @media only screen and (max-width: @mobile-xl) {
      width: 100%;
      height: 100%;
      min-width: 180px;
      //margin-left: auto;
      //margin-right: auto !important;
      //max-width: 250px;
    }
  }
  .swiper-slide-active {
    @media only screen and (max-width: @tablet-xl) {
      width: 20vw;
      margin: 0 10px;
    }
  }
}