//SINGLE-TPL

.aussie-casino-single-tpl {
  margin-top: 100px;
  width:100%;
  display: flex;
  justify-content: center;
  &__block-left {
    width: 36%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: -999px;
    top: 0;
    box-shadow: 0 3px 6px 0 #00000030;
    padding: 20px
  }
}