//WINNING GUIDES

.aussie-casino {
  &__winning-guides {
    max-width: 92%;
    margin: 0 auto;
    height: 700px;
    h2 {
      font-family: @montserrat-b;
      font-size: 73px;
      color: @c2;
      z-index: 2;
      margin-bottom: 80px;
    }
  }
  &__winning-guides_wrap {
    max-width: 87%;
    margin: 0 auto;
    margin-left: 0;
    margin-right: auto;
  }
  &__winning-guides_sort-post--wrap {
    display: flex;
  }
}